*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    align-items: start;
    margin-top: 50px;
    
    min-width: 350px;
    height: 100vh;
    gap: 15px;
}

.columnCard{
    width: 320px;
    min-height: 770px;
    gap: 20px;
    background-color: #FFF;
    box-shadow: 0 2px 20px 0 rgba(10, 11, 37, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
    flex-direction: column;
    justify-content: start;
}

.title{
    width: 100%;
    justify-content: space-between;
    height: 40px;
    padding-top: -10px;
    margin-bottom: 10px;

    & span{
        font-weight: 500;
    }
    & i{
        width: 10px;
        cursor: pointer;
    }
}

.cards{
    width: 320px;
    min-height: 770px;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    position: relative;
}
.card{
    width: 300px;
    height: 105px;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(10, 11, 37, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.card .icons {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(133, 131, 131);
    width: 20px;
    text-align: center;
}
.date{
    position: absolute;
    bottom: 10px;
    font-size: 0.7rem;
    left: 10px;
}

.nameCards{
    font-size: 1.0rem;
    font-weight: 500;

}

.card:hover{
    background-color: #f1f1f1;
    transform: scale(1.02);
}


.icons .fa-plus{
    margin-right: 10px;
}

.red{
    color: red;
    background-color: rgba(255, 0, 0, 0.062);
}

.blue{
    color: rgb(0, 26, 255);
    background-color: rgba(0, 17, 255, 0.062);
}

.green{
    color: rgb(79, 211, 74);
    background-color: rgba(72, 255, 0, 0.062);
}

.columnHover{
    background-color: rgba(143, 24, 255, 0.048);
    border: solid 1px #892be24d;
    border-radius: 10px;
}

.editCard{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(10, 11, 37, 0.37);
    border-radius: 5px;
    position: absolute;
    right: 0px;
    padding: 5px;
    gap: 10px;
    z-index: 1;
}

.editCard i{
    margin-right: 5px;
}

.hide{
    display: none;
}
.fa-ellipsis-verticalfa-ellipsis-vertical{
    width: 10px;
    height: 10px;
    background-color: red;
}

#addColumns{
    width: 50px;
    height: 50px;
    background-color: #892be2;
    border-radius: 50%;
    color: #FFF;
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#addColumns i{
    pointer-events: none;
}